

            <nav>
                <a href=""><img src="/assets/images/white-logo.png" alt="Logo" class="logo"></a>

                <ul>
        <a class="nav-link-dark" href="/">Home</a>
        <a class="nav-link-dark" href="/shop">Shop</a>
        <a class="nav-link-dark" href="/testimonials">Testimonials</a>
        <a class="nav-link-dark" href="/about">About</a>
        <a class="nav-link-dark" href="/contact">Contact</a>
                </ul>
            </nav>
           
    





